@import '../../config/config.less';
@import '../../common.blocks/footer/footer.less';
@import '../../common.blocks/create_main/create_main.less';
@import '../../common.blocks/studio_descript/studio_descript.less';
@import '../../common.blocks/list_of_advantages/list_of_advantages.less';
@import '../../common.blocks/list_of_costs/list_of_costs.less';
@import '../../common.blocks/steps_list/steps_list.less';
@import '../../common.blocks/active_menu/active_menu.less';
@import '../../common.blocks/list_of_works/list_of_works.less';

body{
  width: 100%;
  box-sizing: border-box;
  .landing_wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    
    .blocks_container{
      box-sizing: border-box;
      background: #fff;
      width: 84.22%;
      .block_item{
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}















 








