mixin list_of_works(class_adit, id_block)
    div(class="list_of_works "+class_adit id=id_block)
        h2 Наши работы
        div.works_sheat
            -let n = 0
            while n < 8
                div(class="work_image w_img"+n)
                - n++

