include ../small.blocks/button/button.pug

mixin about_company()
    // Форма Блока 2 с подробным описание кампании
    form(class= 'about_company')
        p(class= 'descr_top')= "Наша студия - это опытная команда проффесионалов которые знают, как разработать быстрый, удобный, стильный сайт компании, создать ресурс, решающий ваши коммерческие задачи и сделать это оперативно."
        p(class= 'descr_bot')= "Мы занимаемся не только разработкой, но и оказываем оперативную и качественную техническую поддержку проектов, чтобы они приносили вам реальный доход и реализовывали поставленные перед ними цели."
        +button('des_btn', 'заполнить бриф')
