@import '../small.blocks/button/button.less';

.about_company{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 0 3%;
    width: 45%;
    font-size: 70%;
    line-height: 120%;
    p{
        margin: 0;
        padding: 0;
    }
    .des_btn{
        font-size: 87%;
        height: 2.7em;
    }
}