.step_num{
    width: 82%;
    max-height: 55%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 8% 0;
    .step_number{
        color: rgba(250, 134, 105, 0.5);
        font-weight: 500;
        font-size: 220%;
        padding: 0;
        margin: 5% 0;
    }
    .step_text{
        align-self: flex-end;
        text-align: left;
        font-size: 65%;
        padding: 0 0 0 3%;
        margin: 20% 0 0 0;
        line-height: 100%;
    }
}
