include ../step_num/step_num.pug

- let nums = ['01', '02', '03', '04', '05', '06', '07', '08']
- let steps = ['Подбор и покупка шаблона под конкретные задачи клиента', 'Выбор и заведение хостинга и домена на имя заказчика', 'Установка и развертка шаблона WP', 'Технические доработки по ТЗ клиента', 'Частичная настройка SEO функционала – хлебные крошки, возможность прописывания метатегов, ЧПУ', 'Заполнение по одной типовой страницы контентом, предоставленного клиентом', 'Русифицирование шаблона, а также очистку от ненужных функций и элементов', 'Подготовка индивидуальной инструкции по работе с порталом']

mixin steps_list(class_adit)
    div(class='steps_list '+class_adit)
        h2 Как мы работаем
        ul.step_sheat
            each val, key in steps
                li.step_item 
                    +step_num('0'+(key+1), val)
    
              
