@import '../step_num/step_num.less';
.steps_list{
    color: black;
    width: 100%;
    text-align: center;
    position: relative;
    height: 100%;
    padding: 5% 0;
    box-sizing: border-box;
    h2{
        .block_header();
        margin-bottom: 5.4%;
    }
    .step_sheat{
        box-sizing: border-box;
        width: 74%;
        margin: 0 auto;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        .step_item{
            box-sizing: border-box;
            flex: 1 50%;
        }
    }
}

