include ../about_company/about_company.pug

mixin studio_descript(class_adit, id_block)
    div(class='studio_descript '+class_adit, id=id_block)
        div.image_descr
            img(src='../../img/Web Screen PSD Mockup 1.png')
        +about_company()