@import '../about_company/about_company.less';
.studio_descript{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    width: 75%;
    margin: 0 auto;
    height: 18em;
    padding: 7% 0 7% 0;
    .image_descr{
        width: 46%;
        img{
            width: 100%;
        }
    }
}