@import '../small.blocks/button/button.less';
.til_company_form{
    box-sizing: border-box;
    width: 32%;
    position: relative;
    margin: 3% 0 0 0;
    z-index: 3;
    .header_til{
        font-weight: 500;
        font-size: 110%;
        line-height: 100%;
    }
    .descr_til{
        font-size: 70%;
        line-height: 100%;
        width: 95%;
    }
    .create_btn{
        margin-top: 5%;
        font-size: 68%;
    }
    
}