mixin contact_card(class_cont)
    // Последний 7 блок активного меню - контактная информация
    div(class='contact_card '+class_cont)
        h3.header_cont контакты:
        p.phone_cont 
            a(href="#") 8 921 302 22 22
        p.adress_cont    
            a(href="#") Санкт - Петербург ул. Ленина 5 