include ../advantage_card/advantage_card.pug

-let images_ad = ['../../img/i3.png', '../../img/i2.png', '../../img/i1.png']
-let headers = ['Дизайн', 'Функциональность', 'Цена']
-let parags = ['Широкие возможности оформления. Платформа дает доступ к тысячам шаблонов под самые разные типы целей, а поддержка разнообразных плагинов позволяет получить желаемый дизайн.', 'В нашем агентстве, сделать проект на заказ – отличное решение для любого типа бизнеса. Блог, одностраничник, интернет-магазин или портал для крупной компании – эта CMS подойдет для реализации любой цели.', 'Стоимость работ по разработке ресурса в нашей компании значительно ниже, чем у конкурентов, так как мы экономим время, адаптируя готовый шаблон под потребности заказчика.']

mixin list_of_advantages(class_adit, id_block)
    // Блок 3 - список из трех преимуществ кампании с описание
    div(class='list_of_advantages '+class_adit id=id_block)
        h2 Преимущества Tilda 
        div.advant_sheat
            each val, key in images_ad
                +advantage_card(key, val, headers[key], parags[key])
