- let footer_list = ['о нас', 'разработка сайтов', 'поддержка', 'цены', 'контакты']

mixin footer_main(fot_class)
    footer(class= 'footer_main '+fot_class)
        div.footer_info
                ul.navigate_list
                    each val, key in footer_list
                        li(class='list_'+key)
                            a(href='#' class="link_"+key)= val


        div.footer_social
            ul.social_icons
                li.icon_item
                   i(class="fab fa-instagram")
                li.icon_item
                   i(class="fab fa-vk")
                
                
                