include ../contact_card/contact_card.pug
mixin active_menu()
    div.active_menu
        img(class='active_item' src='../../img/01 1.jpg')
        img(class='active_item' src='../../img/02 1.png')
        img(class='active_item' src='../../img/03 1.png')
        img(class='active_item' src='../../img/04 1.jpg')
        img(class='active_item' src='../../img/05 1.jpg')
        img(class='active_item' src='../../img/Rectangle 20.jpg')
        +contact_card('active_item')
        