.advantage_card{
    .flex();
    flex-direction: column;
    width: 18.7%;
    box-sizing: border-box;
    margin: 0;
    .image_round{
        text-align: center;
        margin: 0 auto;
        width: 3.15em;
        height: 3.2em;
        border-radius: 50%;
        position: relative;
        background: #FA8669;
        vertical-align: middle;
        img{
            position: relative;
            width: 75%;
            top: 13%;
        }
        .adv_img0{
            width: 62%;
            left: 2%;
            top: 16%;
        }
    }
    h3{
        .card_header();
    }
    p{
        text-align: left;
        font-weight: 500;
        font-size: 55%;
        padding: 0 0 0 2%;
        line-height: 100%;
    }
}
.a_card_1, .a_card_2{
    margin: 0 0 0 2%;
}
