@import '../til_company_form/til_company_form.less';
@import '../small.blocks/tilda_logo/tilda_logo.less';

.create_main{
    position: relative;
    box-sizing: border-box;
    color: black;
    width: 100%;
    background: #dcd8d7;
    height: 25em;
    z-index: 1;
    .create_container{
        position: relative;
        top: 25%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        .cr_img_wrap{
            z-index: 2;
            box-sizing: border-box;
            margin: 0 0 0 4%;
            width: 40%;
            .create_img{
                width: 100%;
            }
        }
    }
}